<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head.ejs') %>
<body>
    <%- include ('../partials/header.ejs') %>  
       <main>
        <h3>Costo de envío</h3>
<p class="prices">
    Hacemos envíos a domicilio ¡Los envíos regulares a domicilio son GRATIS para compras desde $5.000!
    Para las compras menores de $5.000 o Envío Express, los costos son:   
</p>
    </div> 
    <article class="imagenDePerfil">
       <img src="/images/costosDeEnvio.png" width="100%"/>       
    </article>
    <p class="prices">
       - CABA - Envío Express a domicilio: $389
    - CABA - Envío Regular: Envío Regular a domicilio $289 - Envío a sucursal $229
    - Buenos Aires:  Envío Regular a domicilio $359 - Envío a sucursal $299
    - Córdoba, Entre Ríos, Mendoza, San Luis, Santa Fe, La Pampa: Envío Regular a domicilio $439 - Envío a sucursal $359
    - Catamarca, Chaco, Corrientes, Formosa, Jujuy, La Rioja,  Misiones, Salta, San Juan, Santiago del Estero, Tucumán: Envío Regular a domicilio $499 - Envío a sucursal $409
    - Chubut, Neuquén, Santa Cruz, Río Negro: Envío Regular a domicilio $579 - Envío a sucursal $479
</p>
</main>
    <%- include ('../partials/footer.ejs') %>  
   

</body>
</html>