<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head.ejs') %>
<body>
    <%- include ('../partials/header.ejs') %>  
       <main>
        <h2>Tiempos de envío</h2>
<div>
        A continuación podés ver nuestros tiempos por cada provincia.
       
       - CABA - Envío Express: hasta 2 días hábiles pidiendo antes de las 13h. Hasta 3 días hábiles pidiendo luego de las 13h.
       - CABA - Envío Regular: hasta 4 días hábiles
       - Buenos Aires:  hasta 5 días hábiles.
       - Córdoba, Entre Ríos, Mendoza, San Luis, Santa Fe, La Pampa: hasta 7 días hábiles.
       - Catamarca, Chaco, Corrientes, Formosa, Jujuy, La Rioja,  Misiones, Salta, San Juan, Santiago del Estero, Tucumán: hasta 8 días hábiles.
       - Chubut, Neuquén, Santa Cruz, Río Negro: hasta 9 días hábiles.
       
        
       
       Si elegiste un producto en estado de Pre-venta, los tiempos de envío se contarán a partir de la fecha indicada de disponibilidad o despacho.
       

    </div> 
       <img src="/images/tiemposDeEnvio1.png" width="100%"/>       
        </main>
    <%- include ('../partials/footer.ejs') %>  
   

</body>
</html>